.title {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.container.page {
  background-color: black;
  min-height: 100vh;
  padding: 20px;
}


.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.lobbyCard {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #888;
  color: white;
  font-weight: bold;
}

.lobbyCard.first {
  background-color: #166534;
}

.lobbyCard.second {
  background-color: #0284c7;
}

.lobbyCard.third {
  background-color: #ea580c;
}

.scrollDownBtn {
  font-size: 24px;
  cursor: pointer;
  color: #22c55e;
  margin-top: 10px;
}
