/* Game Body */
.game-body {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: -20vh;
    margin-bottom: -20vh; /* Adds space below the image */
}
/* Button Container */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    position: relative;
    margin-top: -20vh;
}

/* General Button Styles */
.big-button{
    width: 26vw;
    height: 12vh;
    border-radius: 2vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.small-button {
    width: 12vw;
    height: 6vh;
    border-radius: 2vw;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* Button Colors */
.blue {
    background-color: #03A9F4;
}

.green {
    background-color: #4CAF50;
}

/* Popup Container */
.popup {
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 110%;
    width: 25vw;
    background-color: #000;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* When Popup is Visible */
.popup.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Popup Header Styling */
.popup-header {
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
}

/* Popup Content Layout */
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2vw; */
    width: 100%;
}

.time-select {
    /* padding: 0.5vw; */
    font-size: 1.2vw;
    text-align: center;
    border-radius: 0.5vw;
    border: 0px solid #ccc;
    width: 40%;
    margin-bottom: 2vh;
}

.time-select option {
    text-align: center; /* This centers the text for most browsers */
}

.start-btn, .start-combat-btn {
    padding: 1.5vh 2vw;
    font-size: 1.2vw;
    border-radius: 2vw;
    border: none;
    background-color:#03A9F4;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 1vh;
}

.start-btn:hover, .start-combat-btn:hover {
    background-color: #45a049;
}

.combat-mode-select {
    display: flex;
    gap: 1vw;
    margin-bottom: 2vh;
}

.combat-private-public {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.2vw;
    margin-bottom: 2vh;
}
