.container {
  min-height: 100vh;
  background-color: transparent;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  text-shadow:
    0 0 6px #22d3ee,
    0 0 12px #0ea5e9;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}
.page {
  min-height: 100vh;
  background-color: transparent;
  color: white;
  padding: 40px 20px;
  position: relative;
}

.headerRow,
.lobbyCard {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  max-width: 1500px;
  margin: 0 auto 10px;
}

.headerRow {
  font-weight: bold;
  color: #cccccc;
}

.lobbyCard {
  background-color: #0ea5e9;
  color: white;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 0 auto 10px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
.lobbyCard:hover {
  background-color: #0284c7;
} */

.leftPanel {
  width: 100%;
  max-width: 1000px;
  height: 80vh;
  overflow-y: auto;
  margin: 0 auto;
  padding-right: 6px;
}

.emptyMessage {
  text-align: center;
  color: #ccc;
  font-size: 1.1rem;
  margin-top: 40px;
}

.cellCenter {
  text-align: center;
}

.rightPanel {
  position: fixed;
  top: 50%;
  right: -320px;
  transform: translateY(-50%);
  width: 300px;
  height: 350px;
  background-color: #1e1e1e;
  border-radius: 12px 0 0 12px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: right 0.3s ease;
  z-index: 100;
  overflow-y: auto;
}

.rightPanel.show {
  right: 0;
}

.createTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  margin-bottom: 10px;
  gap: 5px;
}

.input {
  margin-top: 4px;
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  background-color: #2a2a2a;
  color: white;
}

.createButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #0284c7;
}

.sidebarToggle {
  position: fixed;
  top: 120px;
  right: 0;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.3s;
}

.sidebarToggle:hover {
  background-color: #0284c7;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.pagination button {
  background-color: #0ea5e9;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.scrollDownBtn {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px auto 60 auto;
  width: 50px;
  height: 50px;
  background-color: #0ea5e9;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scrollDownBtn:hover {
  background-color: #0284c7;
  transform: translateY(3px) scale(1.05);
}

.cell {
  text-align: left;
  font-size: 1rem;
}

.cellIndex {
  flex: 1;
}
.cellName {
  flex: 2;
}
.cellDate {
  flex: 2;
}
.cellAccuracy {
  flex: 2;
}
.cellDuration {
  flex: 1;
}
.cellScore {
  flex: 1;
}
